.description{
    height: 4.5rem;
    color: var(--white-100);
    list-style-type: none;
    background-color: var(--gray-400);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
}

.description + .description{
    margin-top: 0.75rem;
}


.description input[type="checkbox"]{
    margin-right: 0.75rem;
}

[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
    color: var(--purple-700);
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: background 300ms;
    cursor: pointer;
}

[type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px var(--blue-100);
}

[type=checkbox]:checked {
    background-color: currentcolor;
}
  
[type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.trash{
    margin-left: auto;
}
.description button{
    background-color: transparent;
    line-height: 0;
    border: none;
    cursor: pointer;
}
